#portfolio {
    overflow: hidden;
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1rem;
}

.mesProjets {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.mesProjets-desc {
    font-size: 1rem;
    font-weight: 200;
    max-width: 50rem;
    letter-spacing: 1px;
    padding: 0 2rem;
    margin-bottom: 3rem;
}
.projectItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.projectItem {
    flex: 1;
    justify-content: center;
    justify-items: center;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    background: rgb(4, 9, 42);
    min-width: 250px;

}

.projectItemImage {
    object-fit: contain;
    height: 3rem;
    width: 3rem;
}

.projectItemTitle {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

.projectItemDesc {
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
    margin-top: 1rem;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: #fff;
}
