.navBar {
    background: #28293E;
    height: 5rem;
    max-width: 75rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: cover;
    height: 8rem;
    width: 8rem;
}

.desktopMenuItemListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuItemListItem:hover {
    color: #EF6D58;
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem solid #EF6D58 ;
}

.desktopMenuButton {
    background-color: white;
    color: black;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    border-radius: 2rem;
    cursor: pointer;

}

.imageButtonContact {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}